* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
  font-family: "Poppins", sans-serif;
}

/* PAGE COMMON */
.page {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

/* remove background-attachment fixed, keep full cover */
#page1 {
  background-image: url("IMG_20251110_172702.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#page2 {
  background-image: url("Screenshot_20221110-175942_Gallery.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#page3 {
  background-image: url("Snapchat-892645816.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#page4 {
  background-image: url("Screenshot (233).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page.active {
  display: flex;
}

/* text + btns */
h1 {
  font-size: 2rem;
  color: #e91e63;
  margin-bottom: 20px;
}

.text {
  max-width: 600px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #f1eaea;
  margin-bottom: 30px;
}

.next-btn {
  background-color: #e91e63;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.next-btn:hover {
  background-color: #c2185b;
  transform: scale(1.05);
}

.photo {
  width: 300px;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* falling flowers */
.flower {
  position: fixed;
  top: -50px;
  font-size: 24px;
  animation: fall linear forwards;
  pointer-events: none;
  z-index: 10;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0.8;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
